# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit spbcoin.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/spbcoin/spbcoin.conf

[Unit]
Description=SPbcoin daemon
After=network.target
After=i2pd.service

[Service]
ExecStart=/usr/sbin/spbcoind -daemon -datadir=/var/lib/spbcoin -conf=/etc/spbcoin/spbcoin.conf -pid=/run/spbcoind/spbcoind.pid
ExecStop=/usr/sbin/spbcoind -conf=/etc/spbcoin/spbcoin.conf stop
# Creates /run/spbcoind owned by spbcoin
RuntimeDirectory=spbcoind
User=spbcoin
Type=forking
PIDFile=/run/spbcoind/spbcoind.pid
Restart=always
PrivateTmp=true
