*.a
*.o
*.qm
build/
debug/
release/
Makefile*
qrc_spbcoin.cpp
spbcoin-qt
spbcoind
spbcoind.exe
*.pro.user
.qmake.stash
spbcoin-qt_plugin_import.cpp
object_script.spbcoin-qt.Debug
object_script.spbcoin-qt.Release
.project
.cproject
build*
